<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137546800675-gbcp6qd0m05i8v60d3k93iqtlj0oudu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137546800675-gbcp6qd0m05i8v60d3k93iqtlj0oudu9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>137546800675-smsmml3rqkvad0fbobpnq6nc83r1gkpe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfqCAewzMoPU4H4u60snAlfnaNAdy2_z0</string>
	<key>GCM_SENDER_ID</key>
	<string>137546800675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-flutter-course-36a60</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-flutter-course-36a60.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137546800675:ios:9bcfbf3b24f5d4a4efdb96</string>
</dict>
</plist>